<h1 mat-dialog-title>Registrate</h1>
<div mat-dialog-content>
  <p>¡Haz tu papeleo de forma sencilla! inicia sesión para que nunca olvides hacer tu papeleo.</p>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ingrese su email" type="text">
    </mat-form-field>
    <mat-form-field class="example-full-width">
            <input matInput placeholder="Ingrese su contraseña" type="password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Enviar</button>
  <button mat-button (click)="onNoRegClick()">Cancelar</button>
</div>
