<mat-toolbar color="primary" role="header">
  <mat-toolbar-row>  
    <mat-icon>date_range</mat-icon>
    <span *ngIf="!authTokenService.currentUserData">¡Haz Tu Papeleo!</span>
    <span *ngIf="authTokenService.currentUserData">Hola, {{authTokenService.currentUserData.name}}</span>
    <div style="position:absolute; right:0px;"><button *ngIf="!authTokenService.currentUserData" mat-button (click)="openRegisterDialog()" [disabled]="isRegDiag()">Registrarse</button>
      <button *ngIf="authTokenService.currentUserData" mat-button (click)="logOut()">Cerrar Sesión</button> 
      <button mat-button *ngIf="!authTokenService.currentUserData" (click)="openLoginDialog()" [disabled]="isOpenDiag()">Iniciar Sesión</button></div>
  </mat-toolbar-row>

</mat-toolbar>





<!-- <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->