<mat-card>
    <mat-card-title>¿Olvidaste Hacer tu Papeleo Anoche?</mat-card-title>
    <mat-card-subtitle>Esperamos que no... usa esta aplicación para reportar tus horas de trabajo</mat-card-subtitle>
    <img mat-card-avatar mat-card-lg-image src="/assets/1.jpg">
    <mat-card-content>Con "Haz Tu Papeleo" registra de forma agil tus horas de trabajo, crea proyectos, haz seguimiento de tus compromisos y obten reportes de tu grupo de trabajo. ¡Registrate o inicia sesión!</mat-card-content>
</mat-card>
